@import "@fontsource/roboto";

:root {
  --primary: #c7b299;
}

.slick-prev:before,
.slick-next:before {
  color: #c7b299 !important;
}

.red-text {
  color: #b22222;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #818181;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
